<div class="container">
  <h1 class="mt-5">アカウント設定</h1>
  <div class="information border rounded mt-3 p-3">
    <div class="d-flex justify-content-between align-items-end">
      <h2 class="m-0">アカウント情報</h2>
      <%= link_to "編集", edit_user_registration_path %>
    </div>
    <div class="container mt-3">
      <div class="row border-bottom p-2">
        <div class="col-3 fw-bold">
          <%= t('activerecord.attributes.user.name') %>
        </div>
        <div class="col-9">
          <%= current_user.name %>
        </div>
      </div>
      <div class="row border-bottom p-2">
        <div class="col-3 fw-bold">
          <%= t('activerecord.attributes.user.email') %>
        </div>
        <div class="col-9">
          <%= current_user.email %>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-3 fw-bold">
          <%= t('activerecord.attributes.user.password') %>
        </div>
        <div class="col-9">
          ******
        </div>
      </div>
    </div>
  </div>
  <div class="information border rounded mt-3 p-3">
    <h3>アカウント削除</h3>
    <div>
      この操作は元に戻せません。<br>
      <% if current_user.is_admin? %>
        また、組織の管理者があなただけの場合、組織も削除されます。
      <% end %>
      <%= button_to 'アカウント削除', user_registration_path, data: { turbo_confirm: '本当によろしいですか？' }, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
