<div class="container">
  <h1 class="mt-5">タスク編集</h1>
  <%= form_with model: @task do |f| %>
    <%= render "shared/error_messages", object: @task %>
    <div>
      <%= f.label :name %>
      <span class="badge bg-danger">必須</span><br>
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div>
      <%= f.label :start_at %><br>
      <%= f.date_field :start_at %>
    </div>
    <div>
      <%= f.label :end_at %><br>
      <%= f.date_field :end_at %>
    </div>
    <div>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.label :is_done %><br>
      <%= f.check_box :is_done %>
    </div>
    <div>
      <%= f.label :users %><br>
      <%= f.collection_check_boxes :user_ids, @project_members, :id, :name do |b| %>
        <%= b.label(class: 'me-3') { b.check_box + b.text } %>
      <% end %>
    </div>
    <div>
      <%= f.submit "保存" %>
    </div>
  <% end %>
  <%= link_to "キャンセル", 'javascript:history.back()' %>
</div>
