<div class="container-fluid d-flex flex-column h-100">
  <div class="my-3">
    <h1 class="fs-5 fw-bold"><%= @project.name %></h1>
  </div>
  <div class="row overflow-hidden">
    <div class="gantt-chart" style="--timeline-column-num: <%= @timeline_dates.length %>;">
      <div class="gantt-header gantt-row">
        <div class="gantt-task-header">
          <div>タスク名</div>
          <div>担当者</div>
          <div>開始日</div>
          <div>終了日</div>
        </div>
        <div class="gantt-scale-header">
          <div class="gantt-months gantt-timeline-row">
            <% filter_first_day_of_month_with_grid(@timeline_dates).each do |first_day_of_month, start_grid| %>
              <div style="grid-column: <%= start_grid %> / <%= calculate_end_grid(start_grid, first_day_of_month, first_day_of_month.end_of_month) %>;">
                <%= first_day_of_month.to_fs(:month) %>
              </div>
            <% end %>
          </div>
          <div class="gantt-days gantt-timeline-row">
            <% @timeline_dates.each.with_index(1) do |date, column| %>
              <div class="<%= "today" if date == @today %><%= " weekend" if weekend?(date) %>" style="grid-column: <%= column %>;">
                <%= date.day %>
                <br>
                <%= date.to_fs(:japanese_day_of_week) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="gantt-body">
        <div class="vertical-lines gantt-row">
          <div class="gantt-task-content"></div>
          <div class="gantt-timeline-row">
            <% @timeline_dates.each.with_index(1) do |date, column| %>
              <div class="<%= "today" if date == @today %><%= " weekend" if weekend?(date) %>" style="grid-column: <%= column %>;"></div>
            <% end %>
          </div>
        </div>
        <div class="gantt-tasks">
          <div class="gantt-row">
            <div class="gantt-task-content">
              <div>ロゴ提出期限</div>
              <div>クライアント</div>
              <div>2022/11/24</div>
              <div>2022/11/24</div>
            </div>
            <div class="gantt-timeline-row">
              <div class="gantt-bar" style="grid-column: <%= calculate_grid_column_in_timeline(@timeline_dates, "2022/11/24".to_date, "2022/11/24".to_date) %>"></div>
            </div>
          </div>
          <div class="gantt-row">
            <div class="gantt-task-content">
              <div>写真素材期限</div>
              <div>クライアント</div>
              <div>2022/11/24</div>
              <div>2022/11/29</div>
            </div>
            <div class="gantt-timeline-row">
              <div class="gantt-bar" style="grid-column: <%= calculate_grid_column_in_timeline(@timeline_dates, "2022/11/24".to_date, "2022/11/29".to_date) %>"></div>
            </div>
          </div>
          <div class="gantt-row">
            <div class="gantt-task-content">
              <div>テキスト素材期限</div>
              <div>クライアント</div>
              <div>2022/11/24</div>
              <div>2022/12/2</div>
            </div>
            <div class="gantt-timeline-row">
              <div class="gantt-bar" style="grid-column: <%= calculate_grid_column_in_timeline(@timeline_dates, "2022/11/24".to_date, "2022/12/2".to_date) %>"></div>
            </div>
          </div>
          <div class="gantt-row">
            <div class="gantt-task-content">
              <div>デザイン提出</div>
              <div></div>
              <div>2022/12/5</div>
              <div>2022/12/5</div>
            </div>
            <div class="gantt-timeline-row">
              <div class="gantt-bar" style="grid-column: <%= calculate_grid_column_in_timeline(@timeline_dates, "2022/12/5".to_date, "2022/12/5".to_date) %>"></div>
            </div>
          </div>
          <div class="gantt-row">
            <div class="gantt-task-content">
              <div>デザイン戻し</div>
              <div>クライアント</div>
              <div>2022/12/6</div>
              <div>2022/12/7</div>
            </div>
            <div class="gantt-timeline-row">
              <div class="gantt-bar" style="grid-column: <%= calculate_grid_column_in_timeline(@timeline_dates, "2022/12/6".to_date, "2022/12/7".to_date) %>"></div>
            </div>
          </div>
          <div class="gantt-row">
            <div class="gantt-task-content">
              <div>デザイン提出FIX</div>
              <div></div>
              <div>2022/12/8</div>
              <div>2022/12/9</div>
            </div>
            <div class="gantt-timeline-row">
              <div class="gantt-bar" style="grid-column: <%= calculate_grid_column_in_timeline(@timeline_dates, "2022/12/8".to_date, "2022/12/9".to_date) %>"></div>
            </div>
          </div>
          <div class="gantt-row">
            <div class="gantt-task-content">
              <div>コーディング</div>
              <div></div>
              <div>2022/12/10</div>
              <div>2022/12/16</div>
            </div>
            <div class="gantt-timeline-row">
              <div class="gantt-bar" style="grid-column: <%= calculate_grid_column_in_timeline(@timeline_dates, "2022/12/10".to_date, "2022/12/16".to_date) %>"></div>
            </div>
          </div>
          <div class="gantt-row">
            <div class="gantt-task-content">
              <div>テストUPチェック</div>
              <div></div>
              <div>2022/12/17</div>
              <div>2022/12/19</div>
            </div>
            <div class="gantt-timeline-row">
              <div class="gantt-bar" style="grid-column: <%= calculate_grid_column_in_timeline(@timeline_dates, "2022/12/17".to_date, "2022/12/19".to_date) %>"></div>
            </div>
          </div>
          <div class="gantt-row">
            <div class="gantt-task-content">
              <div>本番UP</div>
              <div></div>
              <div>2022/12/20</div>
              <div>2022/12/20</div>
            </div>
            <div class="gantt-timeline-row">
              <div class="gantt-bar" style="grid-column: <%= calculate_grid_column_in_timeline(@timeline_dates, "2022/12/20".to_date, "2022/12/20".to_date) %>"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
