<div class="container-fluid d-flex flex-column h-100">
  <div class="my-3">
    <h1 class="fs-5 fw-bold"><%= @project.name %></h1>
  </div>
  <div class="row overflow-hidden">
    <div class="gantt-chart" style="--timeline-column-num: <%= @timeline_dates.length %>;">
      <div class="gantt-header gantt-row">
        <div class="gantt-task-header">
          <div><%= t('activerecord.attributes.task.name') %></div>
          <div>担当者</div>
          <div><%= t('activerecord.attributes.task.start_at') %></div>
          <div><%= t('activerecord.attributes.task.end_at') %></div>
        </div>
        <div class="gantt-scale-header">
          <div class="gantt-months gantt-timeline-row">
            <% filter_first_day_of_month_with_grid(@timeline_dates).each do |first_day_of_month, start_grid| %>
              <div style="grid-column: <%= start_grid %> / <%= calculate_end_grid(start_grid, first_day_of_month, first_day_of_month.end_of_month) %>;">
                <%= first_day_of_month.to_fs(:month) %>
              </div>
            <% end %>
          </div>
          <div class="gantt-days gantt-timeline-row">
            <% @timeline_dates.each.with_index(1) do |date, column| %>
              <div class="<%= "today" if date == @today %><%= " weekend" if weekend?(date) %>" style="grid-column: <%= column %>;">
                <%= date.day %>
                <br>
                <%= date.to_fs(:japanese_day_of_week) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="gantt-body">
        <div class="vertical-lines gantt-row">
          <div class="gantt-task-content"></div>
          <div class="gantt-timeline-row">
            <% @timeline_dates.each.with_index(1) do |date, column| %>
              <div class="<%= "today" if date == @today %><%= " weekend" if weekend?(date) %>" style="grid-column: <%= column %>;"></div>
            <% end %>
          </div>
        </div>
        <div class="gantt-tasks">
          <% @tasks.each do |task| %>
            <div class="gantt-row">
              <div class="gantt-task-content">
                <div><%= task.name %></div>
                <div></div>
                <div><%= task.start_at.to_fs(:date) %></div>
                <div><%= task.end_at.to_fs(:date) %></div>
              </div>
              <div class="gantt-timeline-row">
                <div class="gantt-bar"
                     style="grid-column: <%= calculate_grid_column_in_timeline(@timeline_dates, task.start_at.to_date, task.end_at.to_date) %>"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
