<div class="container-fluid d-flex flex-column h-100"
     data-controller="gantt-chart"
     data-gantt-chart-offset-day-value="-2">
  <div class="my-3 d-flex align-items-center justify-content-between">
    <h1 class="fs-5 fw-bold m-0"><%= @project.name %></h1>
    <button class="btn btn-primary btn-sm"
            data-action="click->gantt-chart#scrollToToday">今日</button>
  </div>
  <div class="row overflow-hidden">
    <div class="gantt-chart"
         style="--timeline-column-num: <%= @timeline_dates.length %>;"
         data-gantt-chart-target="chart">
      <div class="gantt-header gantt-row">
        <div class="gantt-task-header">
          <div class="position-relative">
            <%= t('activerecord.attributes.task.name') %>
            <%= link_to "+", new_project_task_path,
                class: 'btn btn-primary position-absolute bottom-0 end-0 mb-1 me-1 px-2 py-0' %>
          </div>
          <div>担当者</div>
          <div><%= t('activerecord.attributes.task.start_at') %></div>
          <div><%= t('activerecord.attributes.task.end_at') %></div>
        </div>
        <div class="gantt-scale-header">
          <div class="gantt-months gantt-timeline-row">
            <% filter_month_start_dates_with_grid(@timeline_dates).each do |month_start_date, start_grid| %>
              <div style="<%= calculate_grid_column(
                                @timeline_dates, month_start_date, month_start_date.end_of_month, known_start_grid: start_grid) %>">
                <%= month_start_date.to_fs(:month) %>
              </div>
            <% end %>
          </div>
          <div class="gantt-days gantt-timeline-row">
            <% @timeline_dates.each.with_index(1) do |date, column| %>
              <div class="<%= "today" if date == @today %><%= " weekend" if weekend?(date) %>"
                   style="grid-column: <%= column %>;"
                   data-gantt-chart-target="<%= "today" if date == @today %>">
                <%= date.day %>
                <br>
                <%= date.to_fs(:japanese_day_of_week) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="gantt-body">
        <div class="vertical-lines gantt-row">
          <div class="gantt-task-content"></div>
          <div class="gantt-timeline-row">
            <% @timeline_dates.each.with_index(1) do |date, column| %>
              <div class="<%= "today" if date == @today %><%= " weekend" if weekend?(date) %>" style="grid-column: <%= column %>;"></div>
            <% end %>
          </div>
        </div>
        <div class="gantt-tasks">
          <% @tasks.each do |task| %>
            <div class="gantt-row <%= "done-task" if task.is_done %>">
              <div class="gantt-task-content">
                <div><%= task.name %></div>
                <div></div>
                <div><%= task.start_at.to_fs(:date) if task.start_at.present? %></div>
                <div><%= task.end_at.to_fs(:date) if task.end_at.present? %></div>
              </div>
              <div class="gantt-timeline-row">
                <div class="gantt-bar"
                     style="<%= calculate_grid_column(@timeline_dates, task.start_at, task.end_at) %>"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
