<div class="container">
  <h1 class="mt-5">新規タスク作成</h1>
  <%= form_with model: [@project, @task] do |f| %>
    <%= render "shared/error_messages", object: @task %>
    <div>
      <%= f.label :name %><br>
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div>
      <%= f.label :start_at %><br>
      <%= f.date_field :start_at %>
    </div>
    <div>
      <%= f.label :end_at %><br>
      <%= f.date_field :end_at %>
    </div>
    <div>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.submit "作成" %>
    </div>
  <% end %>
  <%= link_to "戻る", :back %>
</div>
