<div class="container">
  <h1 class="mt-5">組織メンバー詳細</h1>
  <div class="information border rounded mt-3 p-3">
    <div class="container mt-3">
      <div class="row border-bottom p-2">
        <div class="col-3 fw-bold">
          <%= t('activerecord.attributes.user.name') %>
        </div>
        <div class="col-9">
          <%= @member.name %>
        </div>
      </div>
      <div class="row border-bottom p-2">
        <div class="col-3 fw-bold">
          <%= t('activerecord.attributes.user.email') %>
        </div>
        <div class="col-9">
          <%= @member.email %>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-3 fw-bold">
          <%= t('activerecord.attributes.user.is_admin') %>
        </div>
        <div class="col-9">
          <%= @member.display_admin_privilege %>
        </div>
      </div>
    </div>
  </div>
</div>
