<div class="container">
  <h1 class="mt-5">プロジェクト一覧</h1>
  <div class="d-flex justify-content-end">
    <%= link_to "New", "#", class: "btn btn-primary" %>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 py-3">
    <div class="col">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title mb-3">プロジェクト名</h5>
          <p class="card-text mb-2">メンバー：</p>
          <p class="card-text text-muted text-truncate">詳細</p>
          <div class="btn-group">
            <%= link_to "詳細", "#", class: "btn btn-sm btn-outline-secondary" %>
            <%= link_to "タスク", "#", class: "btn btn-sm btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title mb-3">プロジェクト名</h5>
          <p class="card-text mb-2">メンバー：</p>
          <p class="card-text text-muted text-truncate">詳細</p>
          <div class="btn-group">
            <%= link_to "詳細", "#", class: "btn btn-sm btn-outline-secondary" %>
            <%= link_to "タスク", "#", class: "btn btn-sm btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title mb-3">プロジェクト名</h5>
          <p class="card-text mb-2">メンバー：</p>
          <p class="card-text text-muted text-truncate">詳細</p>
          <div class="btn-group">
            <%= link_to "詳細", "#", class: "btn btn-sm btn-outline-secondary" %>
            <%= link_to "タスク", "#", class: "btn btn-sm btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title mb-3">プロジェクト名</h5>
          <p class="card-text mb-2">メンバー：</p>
          <p class="card-text text-muted text-truncate">詳細</p>
          <div class="btn-group">
            <%= link_to "詳細", "#", class: "btn btn-sm btn-outline-secondary" %>
            <%= link_to "タスク", "#", class: "btn btn-sm btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
