<div class="container">
  <h1 class="mt-5">プロジェクト詳細</h1>
  <div class="d-flex justify-content-end gap-2 mb-3">
    <%= link_to "編集", edit_project_path(@project), class: 'btn btn-primary' %>
    <%= button_to projects_archives_path,
        params: { id: @project.id },
        class: 'btn btn-outline-secondary',
        data: { turbo_confirm: 'プロジェクトをアーカイブします。よろしいですか？', bs_toggle: "tooltip", bs_placement: "bottom" },
        title: "アーカイブ" do %>
      <i class="bi bi-archive"></i>
    <% end %>
  </div>
  <div class="information border rounded mb-5 p-3 bg-white">
    <div class="row border-bottom mx-0 p-3">
      <div class="col-12 col-md-3 mb-2 mb-md-0 fw-bold">
        <%= t('activerecord.attributes.project.name') %>
      </div>
      <div class="col-12 col-md-9">
        <%= @project.name %>
      </div>
    </div>
    <div class="row border-bottom mx-0 p-3">
      <div class="col-12 col-md-3 mb-2 mb-md-0 fw-bold">
        <%= t('activerecord.attributes.project.description') %>
      </div>
      <div class="col-12 col-md-9">
        <%= @project.description %>
      </div>
    </div>
    <div class="row border-bottom mx-0 p-3">
      <div class="col-12 col-md-3 mb-2 mb-md-0 fw-bold">
        <%= t('activerecord.attributes.project.users') %>
      </div>
      <div class="col-12 col-md-9">
        <% @project_members.each do |user| %>
          <div class="mb-1"><%= user.name %></div>
        <% end %>
      </div>
    </div>
    <div class="row align-items-center mx-0 p-3">
      <div class="col-12 col-md-3 mb-2 mb-md-0 fw-bold">
        <%= t('activerecord.attributes.project.is_done') %>
      </div>
      <div class="col-12 col-md-9">
        <% if @project.is_done? %>
          <i class="bi bi-check2-square text-success fs-5"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
