<div class="container">
  <h1 class="mt-5">アーカイブ済みのプロジェクト一覧</h1>
  <div class="d-flex justify-content-end">
    <%= link_to "戻る", 'javascript:history.back()' %>
  </div>
  <div class="row justify-content-center">
    <div class="table-responsive col-lg-8">
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col"><%= t('activerecord.attributes.project.name') %></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @archived_projects.each do |project| %>
            <tr>
              <td class=<%= "text-done" if project.is_done %>>
                <%= project.name %>
              </td>
              <td>
                <div class="d-flex justify-content-end">
                  <%= button_to '復元', projects_archive_path(project), method: :delete, class: 'btn btn-primary btn-sm', data: { turbo_confirm: 'プロジェクトをアーカイブから復元します。よろしいですか？' } %>
                  <%= button_to '削除', project_path(project), method: :delete, class: 'btn btn-secondary btn-sm ms-1', data: { turbo_confirm: 'プロジェクトを削除します。よろしいですか？' } %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
