<div class="container">
  <h1 class="my-5">組織編集</h1>
  <%= form_with model: @organization, class: "pb-5" do |f| %>
    <div class="row g-3 mb-4">
      <div class="col-12">
        <%= f.label :name, class: "form-label" do %>
          <%= t('activerecord.attributes.organization.name') %>
          <span class="badge bg-danger">必須</span>
        <% end %>
        <%= f.text_field :name, class: "form-control", autofocus: true %>
        <%= render "shared/error_messages_for_attribute", object: @organization, attribute: :name %>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <%= f.submit "更新", class: "btn btn-primary w-100" %>
      </div>
      <div class="col-6">
        <%= link_to "キャンセル", 'javascript:history.back()', class: "btn btn-outline-secondary w-100" %>
      </div>
    </div>
  <% end %>
</div>
