<div class="container">
  <h1 class="mt-5">組織設定</h1>
  <div class="information border rounded mt-3 p-3">
    <div class="d-flex justify-content-between align-items-end">
      <h2 class="m-0">組織情報</h2>
      <%= link_to "編集", "#" %>
    </div>
    <div class="container mt-3">
      <div class="row border-bottom p-2">
        <div class="col-3 fw-bold">
          <%= t('activerecord.attributes.organization.id') %>
        </div>
        <div class="col-9">
          <%= @organization.id %>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-3 fw-bold">
          <%= t('activerecord.attributes.organization.name') %>
        </div>
        <div class="col-9">
          <%= @organization.name %>
        </div>
      </div>
    </div>
  </div>
  <div class="members border rounded mt-3 p-3">
    <div class="d-flex justify-content-between align-items-end">
      <h2 class="m-0">組織メンバー</h2>
      <%= link_to "招待", new_user_invitation_path, class: "btn btn-primary btn-sm" %>
    </div>
    <ol class="mt-3 mb-0">
      <% @members.each do |member| %>
        <li><%= member.name %></li>
      <% end %>
    </ul>
  </div>
</div>
