<div class="container">
  <h1 class="mt-5">組織設定</h1>
  <div class="information border rounded mt-3 p-3">
    <div class="d-flex justify-content-between align-items-end">
      <h2 class="m-0">組織情報</h2>
      <% if current_user.is_admin? %>
        <%= link_to "編集", edit_organization_path %>
      <% end %>
    </div>
    <div class="container mt-3">
      <div class="row border-bottom p-2">
        <div class="col-3 fw-bold">
          <%= t('activerecord.attributes.organization.id') %>
        </div>
        <div class="col-9">
          <%= @organization.id %>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-3 fw-bold">
          <%= t('activerecord.attributes.organization.name') %>
        </div>
        <div class="col-9">
          <%= @organization.name %>
        </div>
      </div>
    </div>
  </div>
  <div class="members border rounded mt-3 p-3">
    <div class="d-flex justify-content-between align-items-end">
      <h2 class="m-0">組織メンバー<%= "(#{@members.length})" %></h2>
      <% if current_user.is_admin? %>
        <%= link_to "招待", new_user_invitation_path, class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <ul class="container mt-3 mb-0">
      <% @members.each.with_index(1) do |member, i| %>
        <li class="row p-2 <%= "border-bottom" unless i == @members.length %>">
          <div class="col d-flex align-items-center"><%= member.name %></div>
          <div class="col d-flex align-items-center"><%= member.display_admin_privilege %></div>
          <div class="col d-flex align-items-center">
            <% unless member == current_user %>
              <%= link_to "詳細", organizations_member_path(member) %>
              <% if current_user.is_admin? %>
                <%= button_to '脱退', organizations_member_path(member), data: { turbo_confirm: '本当によろしいですか？' }, method: :delete, class: 'btn btn-danger btn-sm ms-1' %>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <% if current_user.is_admin? %>
    <div class="information border rounded mt-3 p-3">
      <h2>組織削除</h2>
      <div>
        この操作は元に戻せません。<br>
        組織内のプロジェクトなども削除されます。
        <%= button_to '組織削除', organization_path, data: { turbo_confirm: '本当によろしいですか？' }, method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  <% end %>
</div>
