<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- キャッシュによるJavaScriptの予期しないバグを防ぐための設定 -->
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>TaskWith</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="google-site-verification" content="Y8MsLvXwGv3_bXwwGik3nWFLvm_6Q88OHjqq_wozzZw" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%= render 'shared/header' %>
    <main>
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </main>
    <%= render 'shared/footer' if current_page?(root_path) || current_page?(home_index_path) %>
  </body>
</html>
